
#nanobench
_deps/

# Data directory and result files that are too large
data/
**/*.hdf5


# vim
*.swp

# vscode
**/.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Test
Quick
GloveExample


# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Tex
*.pdf
*.aux
*.log
